nav {
    display: flex;
    justify-content: space-between;
    height: 20;
    position: relative;
    top: 0;
}


.navButton {
    border: none;
    background-image: url(../../assets/vxWhite.png);
    background-size: cover;
    background-color: $vxBlue;
    width: 200px;
    height: 92px;
    text-align: center;
    
    img {
        width: 100%;
    }
}

.navList {
    display: flex;
    align-items: center;
    width: 50%;
    overflow: hidden;
    justify-content: space-between;

    li {
        list-style: none;
        color: $vxBlue;
        @include minion;

        a /*THIS IS THE <LINK/> element*/{
            text-decoration: none;
            color: $white;
            outline: none;
        }

        a:hover {
            color: $vxBlue;
        }
    }
}

.whyNav {

    background: blue;
}


//NAV STYLES SPECIFC TO WHY PAGE 
.whyFull {


    .navButton {  
        border-left: 2px solid $vxGreen;
    
    }
    
    .navList {
        
        li {
            color: $vxGreen;
    
            a /*THIS IS THE <LINK/> element*/{
                color: $white;
            }
    
            a:hover {
                color: $vxGreen;
            }
        }
    }
}

//NAV STYLES SPECIFC TO WHAT PAGE 
.whatFull {

    .navButton {  
        border-left: 2px solid $vxBlue;
        background-color: $vxGreen;
    
    }
    
    .navList {
        
        li {
            color: $vxBlue;
    
            a /*THIS IS THE <LINK/> element*/{
                color: $white;
            }
    
            a:hover {
                color: $vxBlue;
            }
        }
    }
}

//NAV STYLES SPECIFC TO WHAT PAGE 
.whoFull {

    .navButton {  
        border-left: 2px solid $vxGreen;
        background-image: url(../../assets/vx.png);
        background-size: cover;
        background-color: $white;
    
    }
    
    .navList {
        
        li {
            color: $vxGreen;
    
            a /*THIS IS THE <LINK/> element*/{
                color: $vxBlue;
            }
    
            a:hover {
                color: $vxBlue;
            }
        }
    }
}