.workFull {
    background-color: $vxGreen;
}

.work {
    height: 65vh;
    align-items: center;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: left;
        width: 100%;
        width: 80%;
        color: $white;
        margin-left: 20%;
        font-size: 3rem;
        border-bottom: 2px solid white;
        padding-top: 40px;
    }

    p {
        @include medium-font;
        text-transform: lowercase;
        font-size: 2.5rem;
        padding-left: 25%;
        padding-top: 20px;
        color: $white;
        word-spacing: -3px;

        span {
            color: $vxBlue;
        }
    }
}