.landing {

    p {
        @include medium-font;
        text-transform: lowercase;
        font-size: 2.7rem;
        border: 2px solid pink;
        padding-left: 25%;
        color: $vxGreen;
        margin: 50px 0 50px 0;
        word-spacing: -3px;;
    }
}