nav {
    display: flex;
    justify-content: space-between;
    height: 20;
}


.navButton {
    border: none;
    background: none;
    width: 200px;
    height: 92px;
    text-align: center;
    border-left: 2px solid $vxBlue;
    
    img {
        width: 95%;
        transition: .3s ease-in-out;
    }
}

.navButton:hover {

    img {
        width: 100%;
        transition: .3s ease-in-out;
    }
}

.navList {
    display: flex;
    align-items: center;
    width: 50%;
    overflow: hidden;
    transition: .2s ease;
    color: $white;
    visibility: hidden;
    justify-content: space-between;

    li {
        list-style: none;
        color: $vxBlue;
        @include minion;

        a /*THIS IS THE <LINK/> element*/{
            text-decoration: none;
            color: $white;
            outline: none;
        }

        a:hover {
            color: $vxBlue;
        }
    }
}

.visible {
    transition: .2s ease;
    visibility: visible;
}